    body{
        font-size: 15px;
        background-color:#fcd581ff;
        background-image: linear-gradient(180deg, #990d35ff 0%, #f9d976 74%);
    }
    .card img{
        object-fit: contain;
        height: 200px;
        width: 200px;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .card-footer{
        background-color: #f39f86;
        background-image: linear-gradient(360deg, #fcd581ff 0%, #fcd581ff 74%);
    }
    @media only screen and (min-width: 600px) {
        .categories-container {
          /* float: right; */
        }
      }

      .mb-3 {
          margin-bottom: 80px !important;
      }



    /* CSS HEX 
--white: #ffffffff;
--old-lace: #fff8e8ff;
--orange-yellow-crayola: #fcd581ff;
--rusty-red: #d52941ff;
--vivid-burgundy: #990d35ff;
*/
/* CSS HSL */
--white: hsla(0, 0%, 100%, 1);
--old-lace: hsla(42, 100%, 95%, 1);
--orange-yellow-crayola: hsla(41, 95%, 75%, 1);
--rusty-red: hsla(352, 68%, 50%, 1);
--vivid-burgundy: hsla(343, 84%, 33%, 1);

/* SCSS HEX */
$white: #ffffffff;
$old-lace: #fff8e8ff;
$orange-yellow-crayola: #fcd581ff;
$rusty-red: #d52941ff;
$vivid-burgundy: #990d35ff;

/* SCSS HSL */
$white: hsla(0, 0%, 100%, 1);
$old-lace: hsla(42, 100%, 95%, 1);
$orange-yellow-crayola: hsla(41, 95%, 75%, 1);
$rusty-red: hsla(352, 68%, 50%, 1);
$vivid-burgundy: hsla(343, 84%, 33%, 1);

/* SCSS RGB */
$white: rgba(255, 255, 255, 1);
$old-lace: rgba(255, 248, 232, 1);
$orange-yellow-crayola: rgba(252, 213, 129, 1);
$rusty-red: rgba(213, 41, 65, 1);
$vivid-burgundy: rgba(153, 13, 53, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-right: linear-gradient(90deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-bottom: linear-gradient(180deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-left: linear-gradient(270deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-top-right: linear-gradient(45deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-bottom-right: linear-gradient(135deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-top-left: linear-gradient(225deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);
$gradient-radial: radial-gradient(#ffffffff, #fff8e8ff, #fcd581ff, #d52941ff, #990d35ff);