{% extends 'eyaguar/layout.html' %} {% load static %} {% block mainContent %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Producto</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <!-- PRODUCTO 1 -->
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#">
                  <img
                    class="media-object"
                    src=""
                    style="width: 72px; height: 72px"
                  />
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Producto</a></h4>
                  <h5 class="media-heading"><a href="#">Categoria de producto</a></h5>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong></strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>$1234</strong>
            </td>
            <td class="col-sm-1 col-md-1">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Eliminar
              </button>
            </td>
          </tr>
          <tr>
          <!-- PRODUCTO 2 -->
            <td class="col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#">
                  <img
                    class="media-object"
                    src=""
                    style="width: 72px; height: 72px"
                  />
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Producto</a></h4>
                  <h5 class="media-heading">by <a href="#">Categoria de Producto</a></h5>
                </div>
              </div>
            </td>
            <td class="col-md-1" style="text-align: center">
            </td>
            <td class="col-md-1 text-center"><strong></strong></td>
            <td class="col-md-1 text-center"><strong>$1234</strong></td>
            <td class="col-md-1">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td><h3>Total</h3></td>
            <td class="text-right">
              <h3><strong>$numero4</strong></h3>
            </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>
            </td>
            <td>
              <button type="button" class="btn btn-success">
                Finalizar Comprar <span class="glyphicon glyphicon-play"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
