{% extends 'eyaguar/layout.html' %}

{% load static %}

{% block mainContent %}
  <!-- CUERPO: SECTOR DE FOTOS DE PRODUCTOS -->
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1" style="width: 108.3px;">PRODUCTO :</span>
        <input type="text" class="form-control" placeholder="Marca + nombre" aria-label="Producto"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3" >
        <h3 class="mb-3" style="line-height: 52px;">IMAGEN :</h3>
        <div class="input-group"style="float: left;">
          <span class="input-group-text" id="basic-addon1" style="padding: 0px;color: #990d35ff; width: 100%;">
            <input type="file" class="form-control" id="myFile" required>
          </span>
        </div>
      </div>
      <br>
      <div class="col-md-6">
        <div class="row" >
          <div class="col-12">
            <div class="dropdown mb-3" >
              <button class="btn btn-secondary dropdown-toggle"  type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="height: 52px; width: 100%;">
                Categoria
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 100%;text-align:center;">
                <li><a class="dropdown-item" href="#">Categoria de producto 1</a></li>
                <li><a class="dropdown-item" href="#">Categoria de producto 2</a></li>
                <li><a class="dropdown-item" href="#">Categoria de producto 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-12">
            <div class="input-group mb-3" >
              <span class="input-group-text" id="basic-addon3">Descripcion</span>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>  
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" style="width: 108.3px;">Precio </span>
            <input type="text" class="form-control" aria-label="Precio (redondeado sin coma)" required>
          </div>
          <div>
          <input class="btn btn-primary" type="button" value="CREAR PRODUCTO" style="float: right;">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row" style="min-width: 331px;">
      <div class="col"></div>
      <div class="col-2">

      </div>
    </div>
  </div>
{% endblock %}

