{% extends 'eyaguar/layout.html' %}

{% load static %}

{% block mainContent %}
<!-- CONTENIDO HOME -->
  <br>
  <div class="container">

    
    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 g-4">
      {% for producto in proconImagen %}
        <div class="col">
          <div class="card text-center" style="background-color: white;border-color: wheat;">
            <img class="card-img-top" src="{{ producto.image.url }}"  alt="...">
              <div class="card-body">
                <h5 class="card-title"> {{ producto.nombre }} </h5>
                <p class="card-text"> {{producto.description}} </p>
              </div>
            <div class="card-footer">
              <a href="" class="btn btn-light">VER</a>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
    <br>
    <h4 style="text-align: center;">Más productos que pueden interesarte... </h4>
    <br>
    <div class="list-group">
      {% for producto in proSinImagen %}
      <a href="" class="list-group-item list-group-item-action list-group-item-warning"> {{producto.nombre}} </a>
      {% endfor %}  
    </div>
  </div>

{% endblock %}