{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="{%static 'eyaguar/css/styles.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>YAGUARETE KAA S.A</title>

</head>
<!-- CODIGO HTML -->
<body>
  <!-- TITULO DE PAGINA -->
  <br>
  <h3 class="text-center" style="color: antiquewhite;">¡El sitio de compras número 1 del Noreste Argentino! </h3>
  <!-- ENCABEZADO : MENU LOGIN Y CARRITO -->
  <div class="container" style="background-color:transparent ;">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
      <a href="/eyaguar" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'eyaguar/images/yaguarete.png' %}" width="40" height="32"></img>
        <br>
        <span class="fs-4" style="color: #fff8e8ff;font-family: Calibri, sans-serif;font-size: large;"> YAGUARETE
          KAA</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="login" class="nav-link btn-light" style="color: bisque" aria-current="page">Iniciar
            Sesión</a></li>
        <li class="nav-item"><a href="reguser" class="nav-link" style="color: blanchedalmond;">Registrarse</a></li>
        <li class="nav-item"><a href="cart" class="nav-link" style="color: blanchedalmond;">Carrito</a></li>
        <li class="nav-item"><a href="logout" class="nav-link" style="color: blanchedalmond;">Cerrar Sesión</a></li>
      </ul>
    </header>
  </div>
  <!-- MENU: NAVBAR + BUSQUEDA -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#fcd581ff";>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px; color:#990d35ff;font-weight: bold;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/eyaguar">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Nuestros productos
            </a>
            <ul class="dropdown-menu sty align-items-center" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Categoria de producto 1</a></li>
              <li><a class="dropdown-item" href="#">Categoria de producto 2</a></li>
              <li><a class="dropdown-item" href="#">Categoria de producto 3</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Ofertas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="mailto:yaguaretekaa@yaguarete.com">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="createproduct">Nuevo Producto</a>
          </li>

        </ul>
        <form class="d-flex" style="color: #d52941ff;">
          <input class="form-control me-2" style="color:#d52941ff;" type="search" placeholder="Ando buscando..."
            aria-label="Search">
          <a class="btn btn-warning" style="color:#990d35ff;" type="submit" href="searchresults">Buscar en YAGUARETE</a>
        </form>
      </div>
    </div>
  </nav>
{% block mainContent %}

{% endblock %}

{% block footer %}
<!-- FOOTER -->
<div id="footer" style="margin-top:100px;text-align:center;">
    <p style="font-size: 14px;">Copyright Carlos Mendez 2021 - TP FINAL Desarrollo Web on Python y Javascript</p>
</div>

{% endblock %}





</body>
