{% extends 'eyaguar/layout.html' %}

{% load static %}

{% block mainContent %}
  <!-- CUERPO: SECTOR DE FOTOS DE PRODUCTOS -->
  <div class="container">
    <body class="text-center" style="text-align: center;">
    
      <main class="form-signin" style=" width: 400px; margin-left: auto ;margin-right: auto;">
        <form>
          <br>
          <img class="mb-4" src="{% static 'eyaguar/img/yaguarete.png' %}" alt="" width="96" height="64">
          <h1 class="h3 mb-3 fw-normal">BIENVENIDO A YAGUARETE KAA</h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="nombre@tuemail.com">
            <label for="floatingInput">Usuario</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Password</label>
          </div>
      
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Recordar mi cuenta
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-warning"  style="color:#d52941ff;" type="submit">Iniciar Sesion</button>
          <button class="w-100 btn btn-lg btn-outline-danger"  style="color:midnightblue;" type="submit">Registrarse</button>
          <p class="mt-5 mb-3 text-muted"></p>
        </form>
      </main>

{% endblock %}      
      
          
        
      
 