{% extends 'eyaguar/layout.html' %}
{% load static %}
{% block mainContent %}
<!-- CUERPO: SECTOR DE PRODUCTO -->
  <br>
  <div class="container">
    <div class="card mb-3" style="margin: 10%; justify-content:center;">
      <title>Producto</title>
      <div class="row g-0">
        <div class="col-md-4" style="align-content: center;text-align: center;">
          <img class="bd-placeholder-img img-fluid rounded-top" width="100%" src="{{ producto.image.url }}" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></img>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text" style="text-align: start;">{{producto.categoria}}</p>
            <p class="card-text"><small class="text-decoration-underline">{{producto.precio}}</small></p> <h3 class="card-text">{{producto.description}}</h3>
            <button type="button" class="w-100 btn btn-lg btn-outline-warning" style="color:#d52941ff;">Agregar al carrito</button>
                    </div>
        </div>
      </div>
    </div>
    </div>


{% endblock %}
  