{% extends 'eyaguar/layout.html' %}
{% load static %}
{% block mainContent %}

<!-- CUERPO: SECTOR DE FOTOS DE PRODUCTOS -->
<br>
<div class="container">
    <body class="text-center" style="text-align: center;">
    
      <main class="form-signin" style=" width: 400px; margin-left: auto ;margin-right: auto;">
        <form>
          <img class="mb-4" src="{% static 'eyaguar/img/yaguarete.png' %}" alt="" width="96" height="64">
          <h1 class="h3 mb-3 fw-normal">BIENVENIDO A YAGUARETE KAA</h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="nombre@tuemail.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Nombre de usuario">
            <label for="floatingPassword">Usuario</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="Contraseña">
            <label for="floatingInput">Contraseña</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Repetir contraseña">
            <label for="floatingPassword">Repetir contraseña</label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-danger"  style="color:midnightblue;" type="submit">Registrarse</button>
          <p class="mt-5 mb-3 text-muted"></p>
        </form>
      </main>
    </body>
</div>
{% endblock %}
  