{% extends 'eyaguar/layout.html' %}
{% load static %}
{% block mainContent %}
<!-- CUERPO: SECTOR DE PRODUCTO -->

<div class="container" style="justify-content:center;">
  <div class="list-group">
    <br>
      <div>
        <h3 style="color: wheat; ">
        Resultados de su búsqueda:
        </h3>
      </div>
    <br>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Primer item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Segundo item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Tercer item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Cuarto item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Quinto item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Sexto item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Septimo item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Octavo item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Noveno item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Decimo item</a>
  </div>
</div>

{% endblock %}
